# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ/Android Studio
.idea/
*.iml
.local.properties

# Logs
*.log

# Misc
.DS_Store

# Keystore (eğer varsa, KESİNLİKLE commit etme)
*.jks
*.keystore
